{% extends 'hospital/homebase.html' %} {% load static %} {% block content %}
<style>
  .about-container {
    width: 80%;
    height: 100%;
    background-color: #00425a;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
  }
  .title {
    color: #fc7300;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .sub-title {
    color: #BFDB38;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .text {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
  }
  .text-container {
    margin-bottom: 2rem;
  }
</style>
<div class="about-container">
  <h1 class="title">Apollo Hospital</h1>
        <h3 class="sub-title">Vision</h3>
        <div class="text-container">
          <h6 class="text">Apollo's vision for the next phase of development is to 'Touch a Billion Lives'.</h6>
        </div>
        <h3 class="sub-title">Mission Statement</h3>
        <div class="text-container">
          <h6 class="text">“Our mission is to bring healthcare of International standards within the reach of every individual.
            We are committed to the achievement and maintenance of excellence in education, research and healthcare for
            the benefit of humanity”</h6>
        </div>
        <h3 class="sub-title">Our History</h3>
        <div class="text-container">
        <h6 class="text">Apollo Hospitals was established in 1983 by Dr. Prathap C Reddy, renowned as the architect of modern
          healthcare in India. As the nation's first corporate hospital, Apollo Hospitals is acclaimed for pioneering the
          private healthcare revolution in the country.
          Apollo Hospitals has emerged as Asia's foremost integrated healthcare services provider and has a robust
          presence across the healthcare ecosystem, including Hospitals, Pharmacies, Primary Care & Diagnostic Clinics
          and several retail health models. The Group also has Telemedicine facilities across several countries, Health
          Insurance Services, Global Projects Consultancy, Medical Colleges, Medvarsity for E-Learning, Colleges of
          Nursing and Apollo Hospital and a Research Foundation. In addition, 'ASK Apollo' - an online consultation
          portal and Apollo Home Health provide the care continuum.
          The cornerstones of Apollo's legacy are its unstinting focus on clinical excellence, affordable costs, modern
          technology and forward-looking research & academics. Apollo Hospitals was among the first few hospitals in the
          world to leverage technology to facilitate seamless healthcare delivery. The organization embraced the rapid
          advancement in medical equipments across the world, and pioneered the introduction of several cutting edge
          innovations in India. Recently, South East Asia's first Proton Therapy Centre commenced operations at the Apollo
          Centre in Chennai.
          Since its inception, Apollo Hospitals has been honoured by the trust of over 150 million individuals who came
          from 140 countries. At the core of Apollo's patient-centric culture is TLC (Tender Loving Care), the magic that
          inspires hope amongst its patients.
          As a responsible corporate citizen, Apollo Hospitals takes the spirit of leadership well beyond business and has
          embraced the responsibility of keeping India healthy. Recognizing that Non Communicable Diseases (NCDs) are
          the greatest threat to the nation, Apollo Hospitals is continuously educating people about preventive healthcare
          as the key to wellness. Likewise, envisioned by Dr. Prathap C Reddy, the “Billion Hearts Beating Foundation”
          endeavours to keep Indians heart-healthy.</h6>
        </div>
</div>
{% endblock content %}
