<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>LazyCoder || sumit</title>
  <style media="screen">
    .body {
      background-color: lightskyblue;
    }
    .alert-alert-success{
      font-size: 30px;
      background-color: lightgreen;
      border: #333 3px inset;
    }
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-color: lightskyblue;
    }

    .jumbotron h1 {
      text-align: center;
      /* background-color: lightyellow; */
    }
    /* .lead {
      /* background-color: lightyellow; */
    } */

    .alert {
      margin: 0px;
    }
  </style>
  <title>sumit</title>
</head>

<body>
  {% include "hospital/navbar.html" %}
  <br><br>
  <center>
    <h3 class='alert-alert-success' style="margin-bottom:0px;" >About Us !</h3>
  </center>
  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <h1 class="display-4">ABC Hospitals</h1>
    <br>
    <p class="lead"> Hospitals here are staffed by a range of healthcare professionals, including doctors, nurses, and support staff, who work together to provide comprehensive care to patients. These also serve as a critical component of the healthcare system, providing emergency care, treating chronic conditions, and conducting research to advance medical knowledge and improve patient outcomes. In addition to medical services, hospitals here also provide support services such as food, laundry, and housekeeping to ensure patients are comfortable and well-cared for during their stay.</p>
    <br>
    <hr class="my-4">
    <p>Explore our Website.</p>
    <p class="lead1">
      <a class="btn btn-primary btn-lg" href="/" role="button">HOME</a>
    </p>
  </div>
  {% include "hospital/footer.html" %}
</body>
<!--
developed By : sumit kumar
facebook : fb.com/sumit.luv
youtube : youtube.com/lazycoders
-->

</html>
