{% extends 'hospital/dashboard-doctor-base.html' %}
{%load static%}
{% block content %}

<head>
  <style media="screen">
    a:link {
      text-decoration: none;
    }

    h6 {
      text-align: center;
    }

    .row {
      margin: 100px;
    }
  </style>
</head>

<div class="container">

    <form  action="/search" method="get" style="margin-left:70%;" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="query" id="query" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
 

  {% if patient %}
  <div class="panel panel-primary">
    <table class="table table-hover" id="dev-table">
      <tr>
        <td>{{patient.id}}</td>
        <td>{{patient.name}}</td>
        <td>{{patient.address}}</td>
        <td>{{patient.mobile}}</td>
        <td>{{patient.room}}</td>
        <td>{{patient.status}}</td>
      </tr>
    </table>
  </div>
  {%else%}
  <br><br><br>
  <h4 style="text-align: center;color: red;">No Patient Found !!!</h4>
  {% endif %}
</div>

{% endblock content %}
