{% extends 'hospital/frontdesk-dashboard-base.html' %} {% load static %}
{% block frontdesk-name %} {{frontdesk.user.first_name}}
{{frontdesk.user.last_name}} {% endblock frontdesk-name %} {% block content %}

<style>
  .container {
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin: 0 auto 1rem;
    display: table;
    padding: 1rem 0 0 0;
  }

  .all {
    background-color: #b9fbbe !important;
    margin: 2rem 0;
    border-radius: 1rem;
  }

  .page-title {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fc7300;
  }

  .patient-info {
    background-color: #00425a !important;
    padding: 1.5rem 1.5rem 0;
    border-radius: 1rem;
    width: 80%;
    margin: 0 auto;
  }

  .patient-info h3 {
    font-size: 1rem;
    display: block;
    line-height: 1rem;
    padding-bottom: 0.5rem;
    color: #fc7300;
    max-width: 100%;
    font-weight: 600;
    margin: 0;
  }

  .info-category {
    color: #bfdb38;
    display: inline-block;
  }

  .hidden {
    display: none;
  }

  .form-prescribe {
    background-color: #00425a !important;
    padding: 1.5rem 1.5rem 0;
    border-radius: 1rem;
    width: 80%;
    margin: 0 auto;
  }

  .form-prescribe label {
    color: #fc7300 !important;
    font-weight: bold;
  }

  .form-prescribe input {
    width: 100%;
    padding: 0.7rem 1.2rem;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: large;
  }

  .btn-register {
    background-color: #fc7300;
    color: white;
    padding: 0.5rem;
    margin: 2rem 33%;
    width: 10rem;
  }

  .btn {
    max-width: 15rem !important;
  }
</style>

<div class="all">
  <style>
    #example_filter>label {
      color: #00425a;
      font-size: larger;
    }

    #example_info {
      color: #00425a;
    }

    #example_previous {
      color: #00425a !important;
    }

    #example_next {
      color: #00425a !important;
    }

    #example2_filter>label {
      color: #00425a;
      font-size: larger;
    }

    #example2_info {
      color: #00425a;
    }

    #example2_previous {
      color: #00425a !important;
    }

    #example2_next {
      color: #00425a !important;
    }
  </style>

  <style>
    h1 {
      font-size: 3em;
      font-weight: 300;
      line-height: 1em;
      text-align: center;
      padding: 1rem;
      color: #4dc3fa;
      margin: 1rem;
    }

    h3 {
      font-size: 1em;
      font-weight: 300;
      text-align: center;
      display: block;
      line-height: 1em;
      padding-bottom: 2em;
      color: #fb667a;
    }

    .container th h1 {
      font-weight: bold;
      font-size: 1em;
      text-align: left;
      padding: 0rem;
      color: #fc7300;
    }

    .container td {
      font-weight: normal;
      font-size: 1em;
      -webkit-box-shadow: 0 2px 2px -2px #0e1119;
      -moz-box-shadow: 0 2px 2px -2px #0e1119;
      box-shadow: 0 2px 2px -2px #0e1119;
    }

    .container {
      text-align: left;
      overflow: hidden;
      width: 80%;
      margin: 0 auto;
      display: table;
      padding: 1rem 0 0 0;
    }

    .container td,
    .container th {
      padding-bottom: 2%;
      padding-top: 2%;
      padding-left: 2%;
    }

    /* Background-color of the odd rows */
    .container tr:nth-child(odd) {
      background-color: #0c5c48;
    }

    /* Background-color of the even rows */
    .container tr:nth-child(even) {
      background-color: #00425a;
    }

    .container th {
      background-color: #00425a;
    }

    .container tr:hover {
      background-color: #464a52;
      -webkit-box-shadow: 0 6px 6px -6px #0e1119;
      -moz-box-shadow: 0 6px 6px -6px #0e1119;
      box-shadow: 0 6px 6px -6px #0e1119;
    }

    .container td:hover {
      background-color: #8ac8bf;
      color: #185875;
      font-weight: bold;

      box-shadow: #78afa7 -1px 1px, #78afa7 -2px 2px, #78afa7 -3px 3px,
        #78afa7 -4px 4px, #78afa7 -5px 5px, #78afa7 -6px 6px;
      transform: translate3d(6px, -6px, 0);

      transition-delay: 0s;
      transition-duration: 0.4s;
      transition-property: all;
      transition-timing-function: line;
    }

    .container td {
      color: #fc7300;
    }

    .all {
      background-color: #b9fbbe !important;
      margin: 2rem 0;
      border-radius: 1rem;
      padding-bottom: 1rem;
    }

    .btn {
      max-width: 5rem;
    }

    .btn2 {
      margin-right: 3rem;
    }

    .btn3 {
      margin-left: 3rem;
    }

    td a {
      text-decoration: none;
      color: #fc7300;
    }

    .form-container {
      margin-top: 4rem !important;
    }

    .page-title {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      color: #fc7300;
    }

    @media (max-width: 800px) {

      .container td:nth-child(4),
      .container th:nth-child(4) {
        display: none;
      }
    }
  </style>
  <div class="all">
    <div class="container mt-4">
      <h1 class="text-center page-title"><strong>Patients</strong></h1>
      <table class="table table-hover" id="example">
        <thead>
          <tr>
            <th>
              <h1>Id</h1>
            </th>
            <th>
              <h1>Name</h1>
            </th>
            <th>
              <h1>Mobile</h1>
            </th>
            <th>
              <h1>Address</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for patient in patients %}
          <tr>
            <td>{{patient.patientId}}.</td>
            <td>{{patient.name}}</td>
            <td>{{patient.mobile}}</td>
            <td>{{patient.address}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="container mt-4">
      <h1 class="text-center page-title"><strong>Doctors</strong></h1>
      <table class="table table-hover" id="example2">
        <thead>
          <tr>
            <th>
              <h1>Doctor Id</h1>
            </th>
            <th>
              <h1>Name</h1>
            </th>
            <th>
              <h1>Mobile</h1>
            </th>
            <th>
              <h1>Address</h1>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for doctor in doctors %}
          <tr>
            <td>{{forloop.counter}}.</td>
            <td>{{doctor.user.first_name}} {{doctor.user.last_name}}</td>
            <td>{{doctor.mobile}}</td>
            <td>{{doctor.address}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="container form-container">
      <div class="form-prescribe">
        <form method="POST">
          {% csrf_token %}

          <div class="row mt-4">
            <div class="form-group col-md-12">
              <label>Patient Id: </label>
              <input type="text" class="form-control mt-2" name="patient" placeholder="Patient Id" required />
            </div>
          </div>

          <div class="row mt-4">
            <div class="form-group col-md-12">
              <label>Doctor Id: </label>
              <input type="text" class="form-control mt-2" name="doctor" placeholder="Doctor Id" required />
            </div>

            <div class="row mt-4">
              <div class="form-group col-md-12">
                <label>Description: </label>
                <input type="text" class="form-control mt-2" name="description" placeholder="Description" required />
              </div>
            </div>

            <div class="row mt-4">
              <div class="form-group col-md-12">
                <label>Date: </label>
                <input type="date" class="form-control mt-2" name="date" placeholder="" required />
              </div>
            </div>
            <div class="row mt-4">
              <div class="form-group col-md-12">
                <label>Time: </label>
                <input type="time" class="form-control mt-2" name="time" placeholder="" required />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-outline-primary mt-4 btn-register">
            Schedule
          </button>

          <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
          <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
          <script src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
          {% block js %}
          <script>
            $(document).ready(function () {
              $('#example').DataTable({
                dom: 'Bfrtip',
                buttons: []
              });
            });

            $(document).ready(function () {
              $('#example2').DataTable({
                dom: 'Bfrtip',
                buttons: []
              });
            });

            $(document).ready(function () {
              $('.dataTables_filter input[type="search"]').css(
                { 'width': '30vw', 'display': 'inline-block', 'color': 'black', 'margin': '1rem' }
              );
            });

            {% if messages %}
            {% for message in messages %}
            alert("{{ message }}");
            {% endfor %}
            {% endif %}
          </script>
          {% endblock %} {% endblock content %}
        </form>
      </div>
    </div>
  </div>
</div>